 @**
  
  Project BallGame.NET
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@page "/"

<PageTitle>Index</PageTitle>
 
<div class="container">
    <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col">
            <BallGameNET.Components.LoginCard
                Title="BallGame.NET"
                Subtitle="A baseball simulation game.">
                <img src="img/KoreanBaseball-Primary.jpg" class="img-fluid" alt="Baseball"/>
                <a href="/login" class="btn btn-danger mt-3">Sign in</a>
                &nbsp;
                <a href="/register" class="btn btn-info mt-3">Sign up</a>
            </BallGameNET.Components.LoginCard>
        </div>
        <div class="col-2">&nbsp;</div>
    </div>
</div>
 


