 @**
  
  Project BallGame.NET
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@page "/"

<PageTitle>Index</PageTitle>


<div class="container">
    <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col">
            <div class="mt-4 p-5 bg-secondary text-white rounded">
                <h2 class="text-warning">BallGame.NET</h2> 
                <p><i class="bi-box"></i> A baseball simulation game.</p> 
                <img src="img/KoreanBaseball-Primary.jpg" class="img-fluid" alt="Baseball" />
                <button type="button" class="btn btn-danger mt-3">Enter</button>
            </div>
        </div>
        <div class="col-2">&nbsp;</div>
    </div>
    
</div>






