@**
  
  Project SmartBlazor
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@page "/login"

<PageTitle>User Login</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col">
            <div class="mt-4 p-5 bg-secondary text-white rounded">
                <h2 class="text-warning">BallGame.NET</h2> 
                <p><i class="bi-box"></i> A baseball simulation game.</p> 
                <BallGameNET.Components.LoginForm />
            </div>
        </div>
        <div class="col-2">&nbsp;</div>
    </div>
</div>


