@**
  
  Project SmartBlazor
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@page "/register"

<PageTitle>Register user</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col">
            <BallGameNET.Components.LoginCard
                Title="BallGame.NET"
                Subtitle="Please register:">
                <BallGameNET.Components.RegistrationForm />
            </BallGameNET.Components.LoginCard>
        </div>
        <div class="col-2">&nbsp;</div>
    </div>
</div>
