@**
  
  Project SmartBlazor
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@page "/register"

<PageTitle>Register user</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col">
            <div class="mt-4 p-5 rounded">
                <h2 class="text-warning">BallGame.NET</h2> 
                <p><i class="bi-box"></i> Please register:</p> 
                <BallGameNET.Components.RegistrationForm />
            </div>
        </div>
        <div class="col-2">&nbsp;</div>
    </div>
</div>
