 @**
  
  Project BallGame.NET
  Copyright (C) 2021 Alessio Saltarin 'alessiosaltarin@gmail.com'
  This software is licensed under MIT License. See LICENSE.
  
 **@

@inherits LayoutComponentBase

<PageTitle>BallGame.NET</PageTitle>

<div class="page">
    
    <!-- NAV Here-->

    <main>
        <div class="container mt-3">
             @Body
        </div>
    </main>

</div>
